.container{
  background-color: white;
  border-radius: 12px;
  width: 300px;
  height: 200px;
  position: fixed;
  top: 30%;
  left: 40%;
  /* width: 90%; */
  z-index: 10;
  box-shadow: 5px 0px 26px -6px rgba(0,0,0,0.56);
  padding: 20px;
 
}
.ps{

    color: #FF3333;
    font-size: 0.9rem;
}
.pass{
    margin-top: 20px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.password{
    font-size: 0.9rem;
}