.big{
    color: whitesmoke;
    display: flex ;
    flex-wrap: wrap;
    /* background-color: aqua; */
    width: fit-content;
    border-radius: 40px;
    overflow: hidden;
    background: #606c88;
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    background: linear-gradient(to right, #3f4c6b, #606c88);

}




.grid{
   height: 100%; 
display: grid;
place-items: center;
grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));

 gap: 15px 15px; 
 place-content: center; 
}




.left{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    gap: 20px;
    
    
}


.textcontainer{
    color: whitesmoke;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
}
.text{
    font-size: 22px;
    letter-spacing: 0.5px;
    
}


.right{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.divimg{

display: flex;
justify-content: center;
align-items: center;
    width: 300px;
    height: 200px;
    /* height: 300px; */
    /* border-bottom: 2px solid pink; */
    
}


.img{
    
    max-width:100%
}

.buttoncontainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.button{
   width: 200px;
   height: 60px;
    color: whitesmoke;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.25rem;
    padding: 0.625rem 0.875rem;
    background-color: rgb(99 102 241);
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: center;
}


@media (max-width:767px) {
    .big{
        width: 300px;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .right{
        order: 1;
    }
    .left{
        order: 2;
    }
    .button{
        height: 40px;
        font-size: 15px;
        width: 275px;
    }
    .text{
        font-size: 20px;
    }
    .textcontainer{
        padding-bottom: 10px;

    }
    .left{
        gap:30px ;
    }
    .divimg{
        height: 175px;
    }
    .buttoncontainer{
        margin-bottom: 20px;
    }
  
   
    
}