.container {

    border-radius: 15px;
    padding: 10px;
    background-color: Honeydew;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.up{
    position: absolute;
    width: 26px;
    left: 8px;
    bottom: 45%;
    
}
.down{

    position: absolute;
    width: 32px;
    left: 5px;
    top: 60%;

}
/* _______________________  */
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.title>div img {
    width: 30px;
}

.title>div p {
    font-size: 14px;
    font-weight: 600;
}

.title button {
    border-radius: 50%;

    background-color: Honeydew;
    color: SeaGreen;
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.2);
    width: 24px;

}



/* ________________________ */

.containerDiseases {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 120px;
    overflow: auto auto;
    width: 200px;
}

.containerDiseases::-webkit-scrollbar {
    display: none;
}


.diseases {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.diseases>div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
}
.diseases > div >div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.diseases>div>div img {
    width: 24px;
}
.diseases>div>div:nth-child(2) img {
    width: 23px;
}

.diseases>div p {
    font-size: 12px;
}

.diseases button {
    color: SeaGreen;
}