.ThePage {

    width: 100%; 
    display: flex;
    justify-content: center;
  }
  
  /* ___________________________________________________ */
  
  .Bigwrapper {
    margin: 10px 100px 100px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 1px rgba(255, 255, 255, 0.5);
  
  }
  
  /* ___________________________________________________ */
  
  .FirstWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    /* background-color: #f0f9ff; */
    border-radius: 20px;
    position: relative;
  
  }
  
  
  
  /* ___________________________________________________ */
  .MiddleWrapper {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    padding: 10px;
   
    margin: 10px;
    border-radius: 20px;
  }
  
  /* _____________________________________________________ */
  .ThirdWrapper {
    display: flex;
  
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    padding: 10px;
  
    margin: 10px;
    border-radius: 20px;
    background-color: #DDE6ED;
  
  }
  
  
  
  
  
  
    @media (max-width:480px) {
      .Bigwrapper{
        /* background-color: red; */
        width: 95%;
        margin: 20px;
      }
     
    }