.container {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 30px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    row-gap: 20px;
    z-index: 10;
}





@media (max-width:567px) {
    .container {
        width: 300px;
    }

}


.details{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;
}
.details img{
    width: 64px;
}
.details p {
    font-size: 14px;
}
.button {
    background-color: #31af99;
    border-radius: 10px;
    width: 250px;
    color: white;
    padding: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {

    cursor: not-allowed;
}

.invalid {
    border: 1px solid #ff1111;
    /* background-color: #fddddd; */
}