.input-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: pink; */
  width: fit-content;
  justify-content: center;

  margin: 0 auto 60px;

}

.input {
  min-height: 50px;
  max-width: 200px;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid rgb(99 102 241);
  border-radius: 6px 6px 6px 6px;
  background-color: transparent;
  margin: 10px 0 10px 10px;
}


.button--submit {
  min-height: 50px;
  padding: .5em 1em;
  border: none;
  border-radius: 6px 6px 6px 6px;
  background-color: rgb(99 102 241);
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.button--submit:disabled,
.button--submit:disabled:hover,
.button--submit:disabled:active {

  cursor: not-allowed;
}

.button--submit:hover {
  background-color: rgb(99 102 241);
}

.input:focus,
.input:focus-visible {

  outline: none;
}

.invalid {
  border: 1px solid #ff4f4f;
  /* background-color: #fddddd; */
}

.a {
  align-self: flex-start;
}