.container1{

    background-color: white;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.container1 button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.container1 p {
    color: #ff1111;
}