.container {
    display: flex;
    padding: 20px;
    background-color: white;
    width: 350px;
    gap: 100px;
    border-radius: 12px;
    position: relative;
}


.right{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    /* background-color: lightgreen; */
}
.right h4{
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 900;
    letter-spacing: -0.025em;
    color: #d6d6d6;
}
.containerinfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info {
    display: flex;
    gap: 10px;
    align-items: center;
position: relative;
    
}
.info p{
    font-size: 14px;
}

.info img {
    width: 27px;
}



.left img {
    width: 64px;
}
.left p {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 900;
    letter-spacing: -0.025em;
    color: #d6d6d6; 
    position: absolute;
    left: 10%;
    top: 50%;
}
@media (max-width:576px) {
    .container{
        
        flex-wrap: wrap-reverse;
        /* flex-direction: column; */
        gap: 10px;
        width: 200px;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    
}