.container {

    border-radius: 15px;
    padding: 10px;
    background-color: #f4f3f9;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.up{
    position: absolute;
    width: 26px;
    left: 8px;
    bottom: 45%;
    
}
.down{

    position: absolute;
    width: 32px;
    left: 5px;
    top: 60%;

}

/* _______________________  */
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.title>div img {
    width: 30px;
}

.title>div p {
    font-size: 14px;
    font-weight: 600;
}

.title button {
    border-radius: 50%;

    background-color: #f4f3f9;
    color: #2b1b9d;
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.2);
    width: 24px;

}



/* ________________________ */

.containerDiseases {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 111px;
    overflow: auto auto;
    width: 200px;
}

.containerDiseases::-webkit-scrollbar {
    display: none;
}


.diseases {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.diseases>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.diseases>div img {
    width: 24px;
}

.diseases>div p {
    font-size: 12px;
}

.diseases button {
    color: #2b1b9d;
}