.container {
    width: 100%;
    padding: 20px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
position: relative;
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.2);
}

.disabledOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    /* Semi-transparent white background */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
}

.content {
    /* Styles for regular content */
}

.disabledContent {
    filter: blur(1px);
    /* Apply blur effect */
    pointer-events: none;
    /* Disable interaction with the content */
}


/* ________________________________________ */
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.title>div img {
    width: 35px;
    background-color: #e6f2ff;
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 5px;
}

.title>div p {
    font-size: 17px;
    font-weight: 600;
    color: #4f5e75;

}

.title button {
    border-radius: 50%;
    padding: 5px 10px;
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.1);
    color: #4f5e75;

}

/* __________________________________*/

.containerInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    height: 200px;
    /* overflow: auto auto; */
}

.info {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    background-color: #e6f2ff;
    border-radius: 12px;
    padding: 10px;
    width: 300px;
    height: 200px;
    position: relative;

}


.one {

    display: flex;
  
    width: 100%;

}

.one1 {

    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 95%;

}

.one11 {
    display: flex;
    align-items: center;
 
    gap: 7px;
}
.one11 img {
    width: 30px;

}

.one11 p {
    font-size: 13px;
}

.one11:nth-child(2) img {
    align-self: flex-start;
}
.one11:nth-child(2) p {
    height: 55px;
    overflow: auto auto;
}
.one11:nth-child(2) p::-webkit-scrollbar{
    display: none;
}

.one > button {
    width: 32px;
    align-self: flex-start;
}


.info>p {
    align-self: center;
    margin: auto;
    font-size: 14px;
    color: #4f5e75;
    font-weight: 600;
}

.after {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    align-self: center;
    margin: auto;
    font-size: 14px;
    color: #4f5e75;
    transform: translateY(-10px);
    font-weight: 600;

}

.info .containerButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    align-self: center;
    color: #4f5e75;
}
.req{
    position: absolute;
    top: 155px;
    left: 110px;
    font-size: 10px !important;
    color: #f05261 !important;
   
}
.upl{
    position: absolute;
    left: 55px; 
    top: 100px;
    color: #f05261;
}   