@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}
.divgrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 30px 30px 0 30px;
  gap: 30px
  /* place-items: center; */
}
@media (max-width:850px) {
  .divgrid{
    place-items: center;
    place-content: center;
  }
  
}
@media (max-width:576px) {
  .divgrid{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
}


body {
  margin: 0;
  /* background-color: #3f3f3f; */
}

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: rgb(64, 77, 109)
    
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(36 41 52);
    border-radius: 10px;
    ;
  }


  .error-text {
    color: #ff4f4f;
    font-size: 14px;
    margin: 0;
  }
  .invalid  {
    border: 1px solid #ff4f4f;
    /* background-color: #fddddd; */
  }

