.inputgroup {
    position: relative;
   
 
}


.input {
    border: solid 1.5px #d6d6d6;
    width: 250px;
   height: 100px;
    resize: none;
    outline: 0;
    border-radius: 0.7rem;
    background: none;
    padding: 0.5rem;
    font-size: 0.8rem;
    color: black;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    

}
.input::-webkit-scrollbar{
    display: none;
  }
.userlabel {
    position: absolute;
    right: 15px;
    color: #d6d6d6;
    font-size: 12px;
    /* font-weight: 600; */
    pointer-events: none;
    transform: translateY(0.7rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus,
.input:valid {
    outline: none;
    border: 1.5px solid #b5b3b3  ;
}
.input:focus~label,
.input:valid~label {
    transform: translateY(-50%) scale(0.8);
    background: white;
    padding: 0.2em;
    color: #b5b3b3;
    font-weight: 600;
    font-size: 14px;
}






.invalid  {
    border: 1px solid #FF3333;
    /* background-color: #fddddd; */
  }




  .toggleButton{

    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-0.7rem);
    padding: 2px 6px;
    background-color: transparent;
    
    border: none;
    cursor: pointer;
    outline: none;
    transition: color 0.3s ease;
   
  }
  .toggleButton:hover {
    color: #000;
  }